# Python cache
__pycache__/
*.pyc

# Virtual environments
venv/
.venv/
.env/

# Jupyter
.ipynb_checkpoints/

# OS
.DS_Store
Thumbs.db

# Logs
*.log

# Data (raw / temporary)
data/raw/
data/tmp/

# Results (generated)
results/

# Archive temp
archive/tmp/

# IDE
.vscode/
.idea/

# Pytest
.pytest_cache/

# Misc
*.zip
*.tar.gz
